#--------OAuth2.0 Client Configuration---------
scope=
grant_type=client_credentials
client_id=_tBguORzt1OpGKTutlkLNA
client_secret=RdqHXOvYj40uLr5N5H9gJSN1B9Ah8xEDyKpKxp4vi4sa0apP4phQDsUELnN6iiTq
access_token=lpGqlLMnZfL_lNKw_xdUB-_BIZwy2nGG1UJuOSqa5X0JnoofdD5v89_UFDjm_h5gL5D8Ou8M7mF_CMTnUPU9yv_sGN-PGchu_rhWux7tPX_27ZGZRYMyZ4Bn96zMWHYx
authentication_server_url=https://api.yelp.com/oauth2/token
resource_server_url=https://api.yelp.com/v3/businesses/
#------------------------------------------------






















