#--------OAuth2.0 Client Configuration---------
scope=
grant_type=client_credentials
client_id=FQ3lbFit1JtSOlc4rV32j6x08
client_secret=NO6kcptJ0tU16cH7GSqma9x46YZChJblLxCnri0yAtebPUeznl
access_token=
authentication_server_url=https://api.twitter.com/oauth2/token
#resource_server_url=http://jeffhoy1.rtp.raleigh.ibm.com:9080/snoop
#------------------------------------------------






















